<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset = "utf-8">
        <title>Instruktorzy</title>
    </head>
    <body>
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <div class="container">

        <h1 align="center">Lista obecnych instruktorów</h1>
            {% if user %}
            <table align="center" class="table1">
                <thead>

                    <th>Imie</th>
                    <th>Email</th>

                </thead>

                {% for person in users %}
                    <tr>
                        <td>{{ person.username }}</td>
                        <td>{{ person.email }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>NO USERS FOUND!</p>
            {% endif %}
        </div>
    </body>
</html>